/*入力欄*/
.inputField {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.inputField label {
  font-size: 14px;
  margin-bottom: 6px;
}

.inputField input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


/*カラー選択*/
.color-options {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.15s ease, border 0.15s ease, background 0.15s ease;
  box-sizing: border-box;
}

/*アニメーション*/
.color:hover {
  transform: scale(1.15);
  border-color: color-mix(in srgb, var(--tag-color) 80%, black 20%);

}

/*選択時のアニメーション*/
.color.selected {
  border-color: color-mix(in srgb, var(--tag-color) 80%, black 20%);
  transform: scale(1.15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  background: #e8f1fb;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/*ログアウトボタン*/
.logoutBtn {
  background: #ff4d4f;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.logoutBtn:hover {
  opacity: 0.85;
}

/*SideMenu（ハンバーガーメニュー）*/

.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 2000;
  padding-top: 60px;
}

.side-menu.open {
  left: 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.menu-content a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/*Headerの調整*/
.menu-icon {
  font-size: 28px;
  cursor: pointer;
}

.fc-toolbar.fc-header-toolbar {
  position: relative !important;
}

/*タイトルを中央に固定*/
.fc-toolbar-chunk:nth-child(2) {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
  text-align: center !important;
  pointer-events: none;
}