body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formContainer>form,
.formContainer>div:not(.formHeader) {
  display: flex;
  flex-direction: column;
}

/*formHeaderを横幅に広げる*/
.formHeader {
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 12px;
}

.formHeaderRight {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.formHeader h2 {
  margin: 0;
  text-align: left;
}